.App {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

@media only screen and (max-width: 800px) {
    .App {
        overflow: auto;
    }
}