.App {
    height: 100vh;
    display: grid;
    grid-template-rows: 60% 40%;
}

#sectionOne {
    display: grid;
    grid-template-columns: 60% 40%;
}

#sectionTwo {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

#firstSquare {
    background-image: url(./images/desktop-image-hero-1.jpg);
    background-size: 100% 100%;
}

#secondSquare {
    align-self: center;
}

#thirdSquare {
    background-image: url(./images/image-about-dark.jpg);
    background-size: 100% 100%;
}

#fourthSquare {
    align-self: center;
}

#fifthSquare {
    background-image: url(./images/image-about-light.jpg);
    background-size: 100% 100%;
}

section {
    width: 80%;
    margin: auto auto auto auto;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 500;
}

a {
    font-weight: 600;
}