#navbarWrapper {
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 0px;
}


#list {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: white;
  width: 35vw;
  height: 5vh;
  flex-basis: 20%;
  justify-content: space-around;
  margin-left: 1vw;
}

.navOptions:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
  opacity: 0.7;
}

#hamburger {
  position: relative;
  z-index: 99;
  flex: 50%;
  top: 3vh;
  left: 3vw;
  display: none;
}

#close {
  position: relative;
  z-index: 99;
  flex: 50%;
  top: 3vh;
  left: 3vw;
  display: none;
}

@media only screen and (max-width: 1087px) {
  #list {
    width: 42vw;
  }
}

@media only screen and (max-width: 820px) {

  #navbarWrapper {
    color: black;
    background-color: transparent;
    width: 100vw;
    flex-basis: 20%;
  }

  #list {
    display: none;
    color: black;
    width: 75vw;
    margin: auto;
  }

  .navOptions {
    height: fit-content;
  }

  .navOptions:hover {
    border-bottom: 1px solid black;
  }

  #hamburger {
    display: block;
  }

  #hamburger:hover {
    cursor: pointer;
  }

  #close {
    display: none;
  }

  #close:hover {
    cursor: pointer;
  }
}
