.newCollection {
   display: flex;
   width: 80vw;
   height: 90vh;
   justify-content: space-around;
   margin-left: auto;
   margin-right: auto;
   background-color: red;
}

.leftBlock {
    background-color: yellow;
    width: 50%;
}

.rightBlock {
    background-color: green;
    width: 50%;
}